/*BASIC SETTINGS*/

html {
  height: 100%;
}

body {
  min-width: 1200px;
  position: relative;
  height: 100%;
  background-color: rgb(245, 245, 245);
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #B3D4FC;
  text-shadow: none;
}

.block-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.main {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

.menu-column {
  position: fixed;
  left: 0;
  background-color: #37474F;
  font-size: 18px;
  width: 300px;
  height: 100%;
}

.menu__item:hover {
  background-color: #00BCD4;
  cursor: pointer;
  color: #37474F;
}

.content-column {
  font-size: 17px;
  width: calc(100%-290px);
  background-color: #F5F5F5;
  min-height: 100%;
  margin-left: 295px;
}

.menu__item {
  position: relative;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.56);
  padding: 10px 10px;
  text-align: center;
}

.menu__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  content: "";
  display: block;
  height: 1px;
  /*width: calc(100% + 20px);*/
}

.user-info {
  background: #263638;
  height: 100px;
  content: " ";
}

.username {
  padding: 20px 15px;
  color: rgba(255, 255, 255, 0.9);
}

.role {
  padding: 10px;
  text-align: right;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.content__head {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  padding: 20px 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  height: 60px;
  background-color: #fff;
}

.content__textarea {
  background-color: #fff;
  margin: 30px auto;
  width: 80%;
  /*padding: 40px 10px;*/
  position: relative;
}