/*BASIC SETTINGS*/

body {
  min-width: 1200px;
  position: relative;
  background-color: rgb(245, 245, 245);
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #B3D4FC;
  text-shadow: none;
}

.clear {
  clear: both;
}
#full-content{
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*HEADER*/

.header {
  width: 100%;
  height: 200px;
  background: #284990;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  /*border-bottom: 1px solid rgba(0, 0, 0, .2);*/
}

.header nav {
  z-index: 1000;
  width: 1200px;
  height: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
    -webkit-transition: height .5s ease-out, padding .5s ease-out;
  -moz-transition: height .5s ease-out, padding .5s ease-out;
  -ms-transition: height .5s ease-out, padding .5s ease-out;
  -o-transition: height .5s ease-out, padding .5s ease-out;
  transition: height .5s ease-out, padding .5s ease-out;
}

.header nav > a {
  color: rgba(255, 255, 255, .85);
  display: inline-block;
  position: relative;
  height: auto;
  margin: 0 20px;
  padding-bottom: 10px;
  text-decoration: none;
}

.header nav > a:hover:after,
.header nav > a.active:after {
  content: "";
  position: absolute;
  width: 100%;
}

.header nav > a:after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-bottom: 3px solid #fff;
  -webkit-transition: width .2s ease-out;
  -moz-transition: width .2s ease-out;
  -ms-transition: width .2s ease-out;
  -o-transition: width .2s ease-out;
  transition: width .2s ease-out;
}
.header nav.fixed {
  position:fixed;
  bottom: inherit;
  top: 0;
  width:100%;
  min-width: 1200px;
  vertical-align:middle;
  z-index: 2000;
  height: 70px;
  background-color: #284990;
  padding-top: 25px;
}
.header .header__content {
  width: 800px;
  margin: 0 auto;
  height: 200px;
  position: relative;
}
.header .header_logo {
  height:150px;
  transform: translateX(-4px);
  /*transform: translateY(2px);*/
  
}
.header .header__title {
  position: absolute;
  top: 70px;
  left: 8%;
  /*width: 260px;*/
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
.header .header__title--right {
  position: absolute;
  top: 70px;
  right: 3%;
  /*width: 300px;*/
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.header .vremenno {
  width:145px;
  margin: 0 auto;
  height: 149px;
  overflow:hidden;
}

/*MAIN CONTENT*/

.main {
  /*box-shadow: inset 0 17px 24px -20px #000;*/
  width: 1100px;
  margin: 0 auto;
  padding: 30px 50px;
  position: relative;
}

.main-slider {
  -webkit-transition: transform .2s ease-out, opacity .2s ease-out;
  -moz-transition: transform .2s ease-out, opacity 1s ease-out;
  -ms-transition: transform .2s ease-out, opacity .2s ease-out;
  -o-transition: transform .2s ease-out, opacity .2s ease-out;
  transition: transform .5s ease-out, opacity .5s ease-out;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  background: #fff;
  width: 100%;
  overflow: hidden;
  height: 370px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.main-slider:before,
.main-slider:after {
  z-index: 1000;
  height: 40px;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

.main-slider:before {
  content: url(/images/next.png);
  right: 0;
}

.main-slider:after {
  content: url(/images/prev.png);
  left: 0;
}

body.active .main-slider {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}

.main-slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.block-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
}
.block-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}


/*NEWS*/

.news-block {
  -webkit-transition: transform .5s ease-out, opacity .5s ease-out;
  -moz-transition: transform .5s ease-out, opacity 1s ease-out;
  -ms-transition: transform .5s ease-out, opacity .5s ease-out;
  -o-transition: transform .5s ease-out, opacity .5s ease-out;
  transition: transform .5s ease-out, opacity .5s ease-out;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
  display: inline-block;
  margin: 20px 0;
  width: 65%;
  position: relative;
}

body.active .news-block {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}

.news-block > div {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  height: 200px;
}

.news-img {
  float: left;
  width: 45%;
  /*opacity: .7;*/
  overflow: hidden;
  position: relative;
  height: 200px;
}

.news-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}
/*.news-block:hover .news-img{*/
/*  opacity: 1;*/
/*}*/

.news-text {
  padding: 0 10px;
  width: 55%;
  color: rgb(97, 97, 97);
  font-size: 13px;
  font-weight: bold;
  float: right;
  height: calc(100% - 30px);
}

.news-block:hover .news-text {
  color: rgba(0, 0, 0, .9);
  ;
}

.news-text .news-head {
  font-size: 15px;
  color: rgb(97, 97, 97);
  font-weight: bold;
  text-decoration: none;
}

.news-block a.news-button {
  background: #fff;
  text-decoration:none;
  border: none;
  padding: 5px 20px;
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, .2);
  font-size: 15px;
  font-weight: bold;
  color: rgb(97, 97, 97);
  display: block;
  height: 30px;
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-block a.news-button:hover {
  background: rgba(0, 0, 0, .2);
}


/*EVENTS*/

.events-block {
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin: 25px auto;
  margin-right: 0px;
  -webkit-transition: transform .5s ease-out, opacity .5s ease-out;
  -moz-transition: transform .5s ease-out, opacity .5s ease-out;
  -ms-transition: transform .5s ease-out, opacity .5s ease-out;
  -o-transition: transform .5s ease-out, opacity .5s ease-out;
  transition: transform .5s ease-out, opacity .5s ease-out;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}

body.active .events-block {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}

.events-block .event {
  padding: 15px;
  padding-bottom: 20px;
  margin: 15px 0;
  background-color: rgb(62, 78, 184);
  color: rgba(255, 255, 255, .9);
  position: relative;
}

.events-block a.event-button {
  border: none;
  text-decoration: none;
  padding: 5px 20px;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, .2);
  font-size: 15px;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  display: block;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.events-block a.event-button:hover {
  background: rgba(255, 255, 255, .1);
}


/*LOAD SPINNER*/

@-moz-keyframes spinner-loader {
  0% {
    background: #8DCE8C;
  }
  10% {
    background: #6BC87B;
  }
  40% {
    background: #8DCE8C;
  }
}

@-webkit-keyframes spinner-loader {
  0% {
    background: #8DCE8C;
  }
  10% {
    background: #6BC87B;
  }
  40% {
    background: #8DCE8C;
  }
}

@keyframes spinner-loader {
  0% {
    background: #8DCE8C;
  }
  10% {
    background: #6BC87B;
  }
  40% {
    background: #8DCE8C;
  }
}

body.active .spinner-loader:not(:required) {
  display: none;
}

.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1s 300ms infinite ease-out;
  -webkit-animation: spinner-loader 1s 300ms infinite ease-out;
  animation: spinner-loader 1s 300ms infinite ease-out;
  position: absolute;
  margin: 0 auto;
  top: 500px;
  left: 0;
  right: 0;
  background: #dde2e7;
  font-size: 40px;
  display: inline-block;
  text-indent: -9999px;
  width: .9em;
  height: 1.5em;
}

.spinner-loader:not(:required):before,
.spinner-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: .9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}

.spinner-loader:not(:required):before {
  -moz-animation: spinner-loader 1s 150ms infinite ease-out;
  -webkit-animation: spinner-loader 1s 150ms infinite ease-out;
  animation: spinner-loader 1s 150ms infinite ease-out;
  left: -1.6em;
}

.spinner-loader:not(:required):after {
  -moz-animation: spinner-loader 1s 450ms infinite ease-out;
  -webkit-animation: spinner-loader 1s 450ms infinite ease-out;
  animation: spinner-loader 1s 450ms infinite ease-out;
  right: -1.6em;
}


.text-area {
  background-color: #fff;
  width: 100%;
  padding: 80px 56px;
    -webkit-transition: transform .2s ease-out, opacity .2s ease-out;
  -moz-transition: transform .2s ease-out, opacity 1s ease-out;
  -ms-transition: transform .2s ease-out, opacity .2s ease-out;
  -o-transition: transform .2s ease-out, opacity .2s ease-out;
  transition: transform .5s ease-out, opacity .5s ease-out;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}
.active .text-area {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/*Navbar style START*/
#navbar {
    background-color: #d8d9d9;
    display: none;
}
.nav-header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-header > span {
    text-decoration: underline;
}

.nav-links ul {
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul a {
    display: block;
    border-bottom: 1px solid #b0b1b1;
    padding: 10px 0;
    color: #000;
}
.nav-links li:last-child > a {
    border-bottom: none;
}
.dropdown {
    overflow:hidden;
}
.dropdown.open{
    overflow:visible;
}
.dropdown ul {
    display:block;
    transition: opacity 0.3s ease-out;
    opacity: 0; 
}
.dropdown.open ul{
    opacity: 1;
    display: block;
    
}
.nav-links a:hover, a:focus {
    text-decoration:none;
}

.nav-links ul li.dropdown > a:after {
    float: right;
    font-family: FontAwesome;
    content: '\f054';
    transition-property: transform;
    transition-duration: 0.3s;
}

.nav-links ul li.dropdown.open > a:after {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}


nav .dropdown-menu li a{
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/*Navbar style END*/


/* Textfield */
.textfield {
  margin-bottom: 25px;
}

.textfield__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.15);
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  outline: none;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  transition: .5s ease-out;
}
.textfield__label {
  /*bottom: 0;*/
  color: rgba(0,0,0,.36);
  font-size: 16px;
  /*left: 0;*/
  /*right: 0;*/
  pointer-events: none;
  position: absolute;
  display: block;
  /*top: 24px;*/
  transform: translateY(-24px);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  -webkit-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  transition: .1s ease-out;
}
/*input + .textfield__label {*/
/*  display: none;*/
/*}*/
.textfield__input:focus + label {
  transform: translateY(-38px);
  font-size: 12px;
  line-height: 16px;
}
.textfield__input:focus {
  border-bottom: 1px solid rgba(14, 137, 240, 0.83);
}

@media only screen and (max-width: 500px) {
  body {
    min-width: inherit;
  }
  .header {
    height: 100px;
  }
  .header .vremenno {
    margin-left: 20px;
    width: 80px;
  }
  .header .header_logo {
    height: 100px;
  }
 .header .header__content{
    width: auto;
  }
  /*.header nav,*/
  .header__title,
  .header__title--right,
  .header nav{
    display: none;
  }
  .main {
      padding: 30px 10px;
  }
  .main,
  .news-block,
  .events-block {
    min-width: 270px;
    width: 100%;
  }
  .events-block{
    position: static;
    display: block;
    margin: 0 auto;
  }
  .main-slider{
    height: 200px;
  }
  
  .news-img,
  .news-text{
    float: none;
    color: #000;
    height: auto;
    width: 100%;
  }
  .news-img {
    height: 180px;
  }
  .news-img img {
    height: 175%;
  }
  .news-block a.news-button {
    width: 100%;
  }
  .block-shadow--2dp {
    padding-bottom: 40px;
  }
  .news-block > div{
    height: auto;
  }
}